footer {
  position: relative;
  top: 15px;
  background-color: whitesmoke;
  color: rgb(117, 44, 242);
  font-size: 0.7rem;
}

ul {
  padding: 30px;
  display: flex;
  list-style: none;
  gap: 10px;
}

.ft {
  left: 50px;
  position: relative;
}

.fa-tiktok,
.fa-link,
.fa-github,
.fa-linkedin,
.fa-spotify {
  color: rgb(117, 44, 242);
}
