
.daily-container{
  padding: 10px;
  margin: 0;
  padding: 0;
overflow-x: hidden;
 
}

.form-modal {
        background-color: rgba(74, 3, 227, 0.875);
        padding: 20px 10px;
        margin-bottom: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        z-index:10;

    }

.dailyImg {

    display: flex;
    width: 88%;
    position: relative;
    left: 39px;
  z-index: 1;
}

.pic{

  height: 550px;
  background-color: white;

}
.card-co {
list-style: none;
        position: relative;
 width: 70%;
        margin-top: 50px;

        height: 350px;
        color: rgb(248, 248, 248);
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        background-color: rgba(74, 3, 227, 0.875);
        grid-template-rows: 1fr;
        font-size: 1rem;
      padding: 40px 40px;
      font-family: "poppins";
      line-height: 1.6;
      left: 15px;
      font-weight: 200;



}


  textarea{
    border: 2px solid rgba(255, 255, 255, 0.393);
border-radius: 10px;
    padding: 15px;
outline: none;
  width: 80%;
    background-color: transparent;
    /* margin-bottom: 10px;
    margin-left: 25px; */
    margin: 50px 0px 10px 25px;
    color: white;

  }
  
  .btn{
    text-transform: uppercase;
color: white;
    width: 30%;
    padding:10px;
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.393);
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    left: 60px;
    padding-right: 4px;

  }

  .today-btn{

  color: whitesmoke;
    background-color: transparent;
    border: none;
    font-family: "permanent marker";
    font-size: 3rem;
    position: relative;
    left: 20px;
    letter-spacing: 4px;


z-index: 10;
padding: 30px;
  }

  .today-btn:hover{
border-bottom: 10px solid rgb(255, 153, 0);
  color: rgb(255, 153, 0);
  }
.dsk-img {

  display: none;
 
}


.minus-btn{
color: rgb(116, 84, 255);
  position: relative;
  float: right;
  top:335px;

}


    @keyframes change-background {
      0% {
        background:rgb(210, 43, 149);
      }
  
      50% {
        background:rgb(255, 1, 162);
      }
  
      100% {
        background:#FF8C1E;
      }
    }

#color{
line-height: 1;
  font-size: 3.5rem;
  font-family: "Permanent Marker";
  color: white;
  text-align: center;
  padding: 40px;
    background-color: #FF8C1E;
    margin-bottom: 40px;
}

.quote {
animation: change-background 4s ease infinite;
background-color: rgb(210, 43, 149);
line-height: 1;
 font-size: 4.5rem;
 font-family: "Permanent Marker";
color: white;
text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
/* height: 70vh; */
   padding: 190px 40px 190px 10px ;



}


  
/* -------- Media queries */

@media screen and (min-width:600px) {
  .daily-container {
      padding: 10px;
margin-left: 30%;
      padding: 0;
      overflow-x: hidden;
      width: 400px;
box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
    }
}
