
.daily-container{
  padding: 10px;
  margin: 0;
  padding: 0;
overflow-x: hidden;
 background-color: rgb(85, 21, 223);
 /* background-color: rgb(255, 237, 255); */
}


.daily-header {

  line-height: .7;
  font-size: 3.8rem;
  color: rgb(243, 243, 243);
  position: absolute;
  width: 300px;
  top: 270px;
  text-shadow:.5px 5px 10px rgba(25, 25, 25, 0.468);
  letter-spacing: -4px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  line-height: .6;
  padding: 30px;
}
.pic{
  display: flex;
    max-width: 500px;
    height: 100vh;
    background-color: rgb(137, 16, 250);
    overflow: hidden;
position: relative;
/* border-left: 5px solid rgb(255, 128, 49) ;
border-right: 5px solid rgb(220, 21, 223); */

}

.form-modal {
        background-color: rgb(85, 21, 223);
      border-radius: 20px;
        margin: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        z-index:10;


    }

    .form-modal:hover{
border-bottom: 30px solid rgb(116, 84, 255)

    }




.card-co {
list-style: none;
        position: relative;
     margin: 35px;
        height: 330px;
        color: rgb(56, 42, 65);
        border-radius: 20px;
        box-shadow: rgba(23, 23, 23, 0.25) 5px 13px 27px -5px, rgba(0, 0, 0, 0.3) 5px 8px 16px -8px;
      
        background-color: whitesmoke;
        grid-template-rows: 1fr;
        font-size: .8rem;
      padding: 0px 10px 25px 20px;
      font-family: "poppins";
      line-height: 1.4;
      font-weight: 400;
      border-top:3px solid #ff2baa;
    
}



  textarea{
    border: 2px solid rgba(255, 255, 255, 0.393);
    border-radius: 10px;
    padding: 15px;
    outline: none;
    width: 80%;
    background-color: transparent;
    margin: 50px 0px 10px 25px;
    color: white;

  }
  
  .btn{
    text-transform: uppercase;
    color: white;
    width: 30%;
    padding:10px;
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.393);
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    left: 60px;
    padding-right: 4px;

  }

  .today-btn{
    background-color:transparent;
  color: rgb(243, 243, 243);
    text-shadow: .5px 5px 10px rgba(25, 25, 25, 0.468);
    font-family: "permanent marker";
    font-size: 3rem;
    position: relative;
   bottom: 190px;
    letter-spacing: 3px;
    border: none;
    z-index: 10;
left:30px;

 

}





.minus-btn{
color: rgb(116, 84, 255);
  position: relative; 
left:250px;
  top:295px;
}


    @keyframes change-background {
      0% {
        background:rgb(210, 43, 149);
      }
  
      50% {
        background:rgb(255, 1, 162);
      }
  
      100% {
        background:#FF8C1E;
      }


    }
       
    
    
        

#color{
line-height: 1;
  font-size: 3.5rem;
  font-family: "Permanent Marker";
  color: white;
  text-align: center;
  padding: 40px;
    background-color: #FF8C1E;
    margin-bottom: 40px;
}

.quote {
animation: change-background 4s ease infinite;
background-color: rgba(210, 43, 149, 0.533);
line-height: .8;
 font-size: 3rem;
 font-family: "Permanent Marker";
color: rgba(255, 255, 255, 0.952);
text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 10px 13px 27px -5px, rgba(0, 0, 0, 0.3) 10px 8px 16px -8px;
   padding: 50px;
border-radius: 20px;
margin: 35px;
height: 250px;
/* margin-top: -90px; */
}


.end{
  margin-top: 30px;
  padding-bottom: 30px;
}
  
/* -------- Media queries */

@media screen and (min-width:600px) {
  .daily-container {
      padding: 10px;
margin-left: 30%;
      padding: 0;
      overflow-x: hidden;
      width: 400px;
box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
    }

}


.today-btn:hover{
border: 5px solid #ff2baa;
box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
border-radius: 10px;
}