html,
body {
  margin: 0;
  padding: 0;

  user-select: none;
    max-width: 500px;
}


.hero-container{
display: flex;
  flex-direction: row;
  max-width: 500px;
  height: 100vh;


}

.home-btn {
width: 140px;
  padding: 3px;
  color:rgb(245, 243, 238);
 border: none;
 border-radius: 10px;
 background-color: transparent;
border: 1.5px solid rgb(250, 185, 20);
 margin-top: 15px;
text-transform: uppercase;
font-family: "poppins";

}

.h-btn{
gap: 10px;
  display: flex;
  flex-direction: row;
}

.home-btn:hover {
  background-color: #e3aa00;
  color: rgb(36, 36, 37);

}

.header{

line-height: .7;
font-size: 3.5rem;
color: rgb(250, 185, 20);
position: absolute;
width: 300px;
top: 300px;
left: 50px;
text-shadow: .5px .5px 0px rgba(23, 23, 23, 0.468);

font-family: 'Permanent Marker', cursive;
  /* font-family: 'Poppins', sans-serif; */

}

