
.hero-container{
display: flex;
  flex-direction: row;
  max-width: 500px;
  height: 100vh;


}

.home-btn {
width: 140px;
  padding: 10px;
  color:rgb(238, 238, 238);
 border: none;
 border-radius: 50px;
 background-color: transparent;
border: 1px solid rgb(255, 255, 255);
 margin-top: 40px;
text-transform: uppercase;
font-family: inherit;
letter-spacing: 2px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.h-btn{
gap: 10px;
  display: flex;
  flex-direction: row;
}

.home-btn:hover {
  background-color: #ececec;
  color: rgb(227, 0, 170);

}

.header{

line-height: .7;
font-size: 5rem;
color: rgb(243, 243, 243);
position: absolute;
width: 300px;
top: 250px;
left: 50px;
text-shadow: .5px .5px 0px rgba(255, 255, 255, 0.468);
letter-spacing: -5px;
font-family: 'Permanent Marker', cursive;
text-align: center;
}

.move-video{

  display: none;
}






/*  MEDIA QUERIES ------------------------>*/ 



@media (min-width:700px){


  body{

    max-width: 1200px;
  }
#mobile-vid{
  display: none;
}
  #dsk-vid {
    display: block;
      width: 100%;
      height: 100vh;
      background-position: absolute;
      object-fit: cover;
      z-index: 10;
    }


    .move-video{

      display: block;
    }


    .hero-container {
      display: flex;
      flex-direction: row;

  
  
    }

}