.nav-container{
  color: white;
  margin: 0;
  padding: 0;
position: fixed;
z-index: 10;
width: 500px;




}

a, .icons{
  margin: 4px;
padding: 0;
font-size: 1.4rem;
color: #ff8c1e;
text-decoration: none;
list-style: none;

}

i:hover{

  color: rgb(218, 32, 184);
}

.fa-note-sticky{
position: relative;

  color: rgb(226, 43, 189);
}

@media (max-width:500px){


  .nav-container {
      color: white;
      margin: 0;
      padding: 0;
      position: fixed;
      z-index: 10;
      display: flex;

  width: 500px;



  }
  .fa-note-sticky {
      position: absolute;
      left: 390px;
      color: rgb(255, 40, 219);
    }
}