.nav-container{
  color: white;
  margin: 0;
  padding: 0;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
width: 400px;
height: 40px;

top: 30px;
}

a, .icons{
  margin: 0;
padding: 0;
font-size: 1rem;
color: rgb(124, 70, 215);
text-decoration: none;
display: flex;
gap: 10px;
justify-content: space-between;
list-style: none;



}

