.nav-container{
position: fixed;
  /* x */
z-index: 10;
height: 50px;
  /* box-shadow: .5px 5px 10px rgba(25, 25, 25, 0.468); */
 width: 500px;
}

i{
color: rgb(255, 129, 25);
  position: relative;
bottom: 30px;
}




